html{
	background-color:#eef;
}

header {
	background-color:#264460;
}

header a {
	padding: 0 15px;
	text-decoration:none;
	color:#dde;
}

nav {
   background-color:#466480;
}

#contact-list a {
   text-decoration:none;
   color:black;
}

#contact-list li {
   padding: 6px 0;
}

main {
	padding: .5em;
}

a:focus{
	color:red;
}