
body {
   min-width: 830px;
   /*max-width: 1000px;*/
   background-image: url("cinema.jpg");	
   background-size: cover;
   background-repeat: no-repeat;
}

p, li, form{
   color:#DDD;
}


/* Make the header look pretty */

header{
   padding: 0px 20px;
   

   background: #AAA url("reel.jpg") right/contain no-repeat;
   
   
   /* makes a gray-white gradient from left to right */
   background: url("reel.jpg") right/contain no-repeat,
               -webkit-linear-gradient(left, gray, gray, white, white); /* For Safari 5.1 to 6.0 */
   background: url("reel.jpg") right/contain no-repeat
               -o-linear-gradient(left, gray, gray, white, white); /* For Opera 11.1 to 12.0 */
   background: url("reel.jpg") right/contain no-repeat
               -moz-linear-gradient(left, gray, gray, white, white); /* For Firefox 3.6 to 15 */
   background: url("reel.jpg") right/contain no-repeat
               linear-gradient(left, gray, gray, white, white);
               
   /* unnecessarily redundant use of "url("reel.jpg") right/contain no-repeat," ? */
}

/* Remove the ugly default link styling */


header img{
   height:85px;
   /*max-width:none;*/
   border-radius:0px;
}

/* Link styling */
a {
   color:#DDD;
   text-decoration:none;
   border-bottom:1px solid;
   
}

/* Home page paragraph styling */
#MotmHome {	
   background-color: rgb(0, 0, 0);	
   background-color: rgba(204, 204, 204, 0.3);	
   background-image: url(theater.jpg);	
   background-position: right;	
   background-repeat: no-repeat;		
   -o-background-size: 100%;	
   -moz-background-size: 100%;	
   -webkit-background-size: 100%;	
   background-size: 100%;		
   -moz-border-radius: 30px;	
   -webkit-border-radius: 30px;	
   border-radius: 30px;		
   clear: left;	
   float: left;	
   margin-left: 33%;	
   width: 40%;
   color: #DDD;
}

#MotmHome h1 {	
   font-family: "Lucida Calligraphy", "Apple Chancery", cursive;	
   font-size: 158%;	
   font-weight: bold;	
   margin: 10px 0px 0px 10px;
}

#MotmHome h2 {	font-size: 105%;	
   margin: 0px 0px 10px 15px;
}

#MotmHome p {	
   font-size: 87.5%;	
   margin: 0px 40% 19px 15px;
}
   
/* Main content styling */

main{
   width:80%;
   margin:auto;
}

main section{
   float:left;
   width:45%;
   padding:20px;
}

main p:first-letter{
   font-size: 2em;
   font-weight:bold;
}


/* styling for the artwork and trailer */
.media {
   float:right;
   width:45%;
   padding:20px;
   
}

.media * {
   float:right;
   padding:5px;
}

img{
   max-width:300px;
   border-radius: 10px;
}

iframe{
   max-width:300px;
   index: -1;
   position:relative;}
}

/* styling for Cast table */
table.cast {	
   width: 400px;	
   padding: 0px;	
   text-align: center;
}

table.cast col.actorCol {	
   background-color: rgb(192,192,192);	
   width: 10%;
}

table.cast col.charCol {	
   background-color: rgb(192,192,192);	
   width: 10%;
}

table.cast col.headCol {	
   background-color: rgb(192,192,192);	
   width: 10%;
}

/* styling for the reviews */
.reviews, .reviews li{
   width:100%;
   clear:both;
   float:left;
}

.reviews ul{
   padding-left:15px;
}

.reviews li{
   list-style:none;
   padding:10px 0px;
   
}

.reviews li::first-letter{
   font-size: 1.5em;
   font-weight:bold;
}

.reviews li::before{
   content:url("userpic.png");
   float:left;
   padding-right: 10px;
}


